:root {
  /* FONTS */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  /* COLOR */
  --accent-color: #e7e9fc; /* CORNFLOWER */

  /* TEXT COLOR */
  --text-color: #434455; /* SLATE */
  --text-subtle-color: #8e8f99; /* LIGHT SLATE */

  --text-dark-color: #2e2f42; /* NAVY BLUE */
  --text-white-color: #fff; /* WHITE */
  --text-light-color: #f4f4fd; /* CLOUD */

  --text-active-color: #404bbf; /* OCEAN */
  --text-brand-color: #4d5ae5; /* IRIS */
  --text-accent-color: #e7e9fc; /* CORNFLOWER */

  --text-success-color: #31d0aa; /* GREEN */
  --text-success75-color: rgba(49, 208, 170, 0.75);
  --text-success50-color: rgba(49, 208, 170, 0.5);
  --text-success10-color: rgba(49, 208, 170, 0.1);

  /* BACKGROUND COLOR */
  --bg-brand-color: #4d5ae5; /* IRIS */
  --bg-pressed-color: #404bbf; /* OCEAN */

  --bg-primary-color: #fff; /* WHITE */
  --bg-dark-color: #2e2f42; /* NAVY BLUE */
  --bg-accent-color: #e7e9fc; /* CORNFLOWER */
  --bg-light-color: #f4f4fd; /* CLOUD */

  --bg-modal-color: rgba(46, 47, 66, 0.4); /* NAVY BLUE MODAL*/
  --bg-hero-color: rgba(46, 47, 66, 0.7); /* GREY */

  /* OTHER */
  --col-gap: 24px;
  --row-gap: 48px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--bg-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/*! ---------------------- */
/*! COMMON Rules           */
/*! ---------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);

  text-align: center;
  text-transform: capitalize;
}

.section .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-dark-color);
}

.section .text {
  line-height: 1.5;
  margin-top: 8px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 12px 24px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pt-0 {
  padding-top: 0;
}

/*? ---------------------- */
/*? HEADER                 */
/*? ---------------------- */
.header {
  border-bottom: 1px solid var(--accent-color);
}

.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  margin-right: 76px;

  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-brand-color);
}

.header .hl-accent {
  color: var(--text-dark-color);
}

.header-nav {
  display: flex;
}

.header-nav .item:not(:last-child) {
  margin-right: 40px;
}

.header-nav .link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-dark-color);
}

.header-nav .link.active {
  color: var(--text-active-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item:not(:last-child) {
  margin-right: 40px;
}

.header-contacts .link {
  line-height: 1.5;
  color: var(--text-color);
}

.header-nav .link:hover,
.header-nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--text-active-color);
}

/*? ---------------------- */
/*? HERO section           */
/*? ---------------------- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--bg-hero-color);
}

.hero-title {
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 500px;
}

.btn-hero {
  margin-top: 48px;
  padding: 16px 32px;
  color: var(--text-white-color);
  background-color: var(--bg-brand-color);
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--text-white-color);
  background-color: var(--bg-pressed-color);
}

/*? ---------------------- */
/*? SKILLS section         */
/*? ---------------------- */
.skills-list {
  display: flex;
}

.skills-list > .item {
  flex-basis: calc(100% / 4);
}

.skills-list > .item:not(:last-child) {
  margin-right: var(--col-gap);
}

/*? ---------------------- */
/*? WORK section           */
/*? ---------------------- */
.work-list {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.work-list > .item:not(:last-child) {
  margin-right: 24px;
}

/*? ---------------------- */
/*? TEAM section           */
/*? ---------------------- */
.team {
  background-color: var(--bg-light-color);
}

.team-list {
  display: flex;
  margin-top: 72px;
}

.team-list > .item {
  flex-basis: calc(100% / 4);
  background-color: var(--bg-primary-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .item:not(:last-child) {
  margin-right: 24px;
}

.team-content {
  padding: 32px 16px;
}

/*? ---------------------- */
/*? FOOTER                 */
/*? ---------------------- */

.footer {
  padding: 100px 0;
  background-color: var(--bg-dark-color);
}

.footer .fl-accent {
  color: var(--text-light-color);
}

.footer .text {
  display: block;
  margin-top: 16px;
  line-height: 1.5;
  max-width: 270px;
  color: var(--text-accent-color);
}

/*? ---------------------- */
/*? PORTFOLIO page         */
/*? ---------------------- */
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-nav > .item:not(:last-child) {
  margin-right: 24px;
}

.btn-portfolio {
  color: var(--text-brand-color);
  background-color: var(--bg-light-color);
  border: 1px solid var(--accent-color);
}

.btn-portfolio.active,
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--text-white-color);
  background-color: var(--bg-pressed-color);
  border-color: var(--bg-pressed-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--row-gap));
  margin-left: calc(-1 * var(--col-gap));
}

.portfolio-cards > .item {
  flex-basis: calc(100% / 3 - var(--col-gap));
  margin-top: var(--row-gap);
  margin-left: var(--col-gap);
}

.portfolio-cards .card-content {
  border: 1px solid var(--accent-color);
  border-top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
